body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Warna latar belakang lembut untuk kenyamanan */
}

.intro {
  font-size: 1.2em;
}

.feature {
  text-align: center;
  padding: 20px;
}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.navbar {
  background-color: #000000; /* Sama seperti warna background */
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Memastikan logo di kiri dan menu di kanan */
  align-items: center;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar .menu {
  display: flex;
  gap: 15px;
  margin-left: auto; 
  font-size: 20px;
  font-family: poppins;
}

.navbar .menu a {
  color: #ffffff; /* Warna teks sesuai dengan estetika */
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar .menu a:hover {
  background-color: #1e90ff;
  color: white;
}
.logo {
  display: flex; /* Menggunakan flexbox untuk menyusun logo dan teks secara horizontal */
  align-items: center; /* Memastikan gambar dan teks sejajar secara vertikal */
}

.logo-img {
  width: 40px; /* Atur lebar gambar sesuai kebutuhan */
  height: auto; /* Memastikan proporsi gambar tetap terjaga */
  margin-right: 20px; /* Jarak antara gambar dan teks */
}
.section {
  padding: 100px 20px; /* Menambahkan jarak untuk menghindari overlap dengan navbar */
  background-color: #ffffff; /* Warna latar belakang lembut untuk kenyamanan */
  margin: 20px 0;
}

.feature-icon {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .navbar .menu a {
    display: block;
    margin: 10px 0;
  }
}
.hero img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}
#home {
  background-color: #ffffff; /* Sama seperti warna background */
  margin: 0;
  margin-top: -80px;
  padding: 100px 20px;
}
